[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
gunicorn = "*"
mysqlclient = "*"

[packages]
Django = "*"
django-colorful = "*"
django-el-pagination = "*"
django-social-share = "*"
wagtail = "*"
wagtailmenus = "*"
pygments = "*"
whitenoise = "*"

[requires]
python_version = "3.6"
