{% load static i18n wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags wagtailuserbar core_tags menu_tags %}
<!DOCTYPE HTML>
<html>
<head>
    <title>
        {% block title %}
        {{ blog_page.title }}{% if blog_page.description %} | {{ blog_page.description }}{% endif %}
        {% endblock title %}
    </title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="title"
          content="{% block meta_title %}
                        {% if blog_page.seo_title %}
                            {{ blog_page.seo_title }}
                        {% else %}
                            {{ blog_page.title }}
                        {% endif %}
                   {% endblock meta_title %}"/>
    <meta name="description"
          content="{% block meta_description %}
                        {{ blog_page.search_description }}
                   {% endblock meta_description %}"/>
    {% block social_share %}{% endblock social_share %}
    <link rel="canonical" href="{% block canonical %}{% canonical_url %}{% endblock canonical %}"/>

    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
    <link href='//fonts.googleapis.com/css?family=Roboto:400,300,300italic,100italic,100,400italic,500,500italic,700,900,700italic,900italic'
          rel='stylesheet' type='text/css'>
    {% block css %}
    <link rel='stylesheet' href="{% static 'core/css/bootstrap.min.css' %}" type='text/css'/>
    <link rel="stylesheet" href="{% static 'core/css/fontawesome.min.css' %}">
    <style>
        body {
            --main-color: { {
            blog_page . main_color
        }
        };
        }
    </style>
    <link rel="stylesheet" href="{% static 'core/css/core.css' %}"/>
    <link rel="stylesheet" href="{% static 'core/css/solarizeddark.css' %}"/>
    {% endblock %}
</head>
<body>
{% blog_header %}
{% block blog_navbar %}
{% main_menu show_multiple_levels=False template="menus/navbar.html" %}
{% endblock blog_navbar %}
{% wagtailuserbar %}
<div class="container container-blog">
    <div class="row">
        <div class="col-sm-8 col-md-9">
            {% block content %}{% endblock content %}
            {% block extra_content %}{% endblock extra_content %}
        </div>

        <div class="col-sm-4 col-md-3">
           {% block sidebar %}{% endblock sidebar %}
        </div>
    </div>
</div>
{% block js %}
<script src="{% static 'core/js/jquery.min.js' %}"></script>
<script src="{% static 'core/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'core/js/core.js' %}"></script>
{% endblock js %}
</body>
</html>
