{% extends "core/base.html" %}

{% load static i18n wagtailcore_tags wagtailimages_tags core_tags social_share %}

{% block title %}
    {% if search_term %}
        {{ search_term }} | {{ blog_page.title }}
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock title %}

{% block meta_title %}
    {% if search_term %}
        <p>{% trans 'Entries for' %} {{ search_type }} {{ search_term }}</p>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock meta_title %}

{% block meta_description %}
    {% if search_term %}
        <p>{% trans 'Entries for' %} {{ search_type }} {{ search_term }}</p>
    {% else %}
        {{ block.super }}
    {% endif %}
{% endblock meta_description %}

{% block content %}
    {% with per_page=blog_page.num_entries_page %}
        {# 'paginate' tag cannot render dotted variables, so we need to create a context var #}
        {% paginate per_page entries %}
        {% if search_term %}
            <p>{% trans 'Entries for' %} {{ search_type }} "{{ search_term }}"</p>
        {% endif %}
        {% for entry in entries %}
            {% entry_url entry blog_page as post_url %}
            <article class="card border-primary mb-3">
                <header class="card-title">
                    <h4 class="card-header">
                        <a href="{% entry_url entry blog_page %}">{{ entry.title }}</a>
                    </h4>
                </header>
                {% if entry.header_image %}
                    {% image entry.header_image fill-800x240 as header_image %}
                    <img alt="{{ entry.header_image.title }}" src="{{ header_image.url }}" class="mb-3">
                {% endif %}
                <section class="card-subtitle">
                    <small class="text-muted card-text">{% include 'core/entry_links.html' %}</small>
                </section>
                <section class="article card-body overflow-hidden">
                    <div class="card-text">
                        {% if entry.excerpt %}
                            {{ entry.excerpt }}
                        {% else %}
                            {{ entry.body|truncatewords_html:70 }}
                        {% endif %}
                    </div>
                </section>
                <footer class="card-footer">
                    <a class="card-text text-muted text-right" href="{{ post_url }}">{% trans 'Continue reading' %}
                        &raquo;</a>
                </footer>
            </article>
            {% empty %}
            <span>{% trans 'No results found.' %}</span>
        {% endfor %}

        <div class="pagination">
            {% show_paginator %}
        </div>
    {% endwith %}
{% endblock content %}

{% block sidebar %}
    <div class="blog_sidebar">
        {% if blog_page.display_categories %}
            <div class="card border-dark mb-3">
                <div class="card-header">{% trans 'Categories' %}</div>
                {% categories_list %}
            </div>
        {% endif %}
        {% if blog_page.display_tags %}
            <div class="card border-dark mb-3">
                <div class="card-header">{% trans 'Tags' %}</div>
                <div class="card-body p-1">
                    <div class="card-text">{% tags_list %}</div>
                </div>
            </div>
        {% endif %}
        {% if blog_page.display_archive %}
            <div class="card border-dark mb-3">
                <div class="card-header">{% trans 'Archive' %}</div>
                {% archives_list %}
            </div>
        {% endif %}
    </div>
{% endblock sidebar %}
