{% load wagtailroutablepage_tags core_tags %}
<div class="container">
    <div class="row">
        <div class="col-sm text-nowrap">
            <i class="fa fa-user"></i>
            <a href="{% routablepageurl blog_page 'entries_by_author' entry.owner.username %}">
                {{ entry.owner.username }}
            </a>
        </div>
        <div class="col-sm text-nowrap">
            <i class="fa fa-calendar"></i>
            {{ entry.date|date:"DATE_FORMAT" }}
        </div>
        <div class="col-sm-8">
            {% if entry.categories.count > 0 %}
                {% categories_list entry.categories %}
            {% endif %}
            {% if entry.tags.count > 0 %}
            {% tags_list blog_page.num_tags_entry_header entry.tags %}
            {% endif %}
            {% if blog_page.display_comments %}
                <i class="fa fa-comments"></i>
                {{ entry.num_comments }}
            {% endif %}
        </div>
    </div>
</div>